* {
    margin: 0;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
	font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body{
    position: relative;
}

.font-primary{
	font-family: 'Raleway', sans-serif;
}

.font-bold{
	font-weight: 700;
}

.namefontsize{
	font-size: 21px;
}

.namediv-height{
	height: 100px;
	width: 100%;
}

.namepara-position{
	position: relative;
	top: 50%;
}

.wrap{
	width: 1000px;
}

.dp-dimension{
    width: 200px;
}

.dp-margin{
    margin: 0 auto;
}

.pad-25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-social-font{
    font-size: 25px;
}

.footer-madein-font{
    font-size: 11px;
}

.menu-font{
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: #EA4335;
}

.width-100{
    width: 100%;
}

/*.site-footer {
    background-color: gray;
    bottom: 0px;
    position: absolute;
    height: 75px;
    width: 100%;
}*/

.resume-border {
    border: 3px solid #555;
    padding: 10px;
    display: inline-block;
    width: 250px;
}

.nodeco-link {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: none;
    color: #555;
}

.resume-link-hover:hover {
    text-decoration: none;
    color: #fff;
    background-color: #555;
}

footer {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
    color: #555;
    display: block;
}








.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
    border-bottom: 5px solid #fff; 
}
.navbar-default .navbar-nav > li > a:hover {
    color: #111;
    border-bottom: 5px solid #EA4335;    
}

.navbar-default .navbar-nav > li > a:focus {
    color: green;
    font-weight: 700;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff; 
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

li{
    cursor: pointer;
}


